.dataProcessTitle {
  margin-bottom: 19px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #343b4d;

  @media screen and (min-width: 375x) {
    font-size: 16px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.dataProcessingSection {
  padding-top: 34px;

  @media screen and (min-width: 1200px) {
    padding-top: 40px;
  }

  &__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;

    @media screen and (min-width: 1200px) {
      font-size: 18px;
    }
  }

  &__text:not(:last-child) {
    margin-bottom: 20px;
  }

  &__text--span,
  &__text--spanRecord {
    @extend .dataProcessingSection__text;
    color: #4872dc;
  }

  &__textRecord {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #d0060e;
    margin-bottom: 35px;
    text-transform: uppercase;

    @media screen and (min-width: 375px) {
      font-size: 14px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 18px;
    }
  }
}

.dataProcessingSection__textReady {
  font-weight: 700;
  line-height: 16px;
  color: var(--dark-color);
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 40px;

  @media screen and (min-width: 375px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 18px;
    margin-bottom: 0;
  }
}
