.footer {
  margin-top: auto;

  &__title {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    text-transform: lowercase;
    color: var(--dark-color);
  }
}

.callAndListen__footer__title {
  width: 288px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 6px;
  line-height: 7px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #c9c9c9;
}
