.gender__form--container {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 25px;
  padding-bottom: 17px;

  @media screen and (min-width: 375px) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 140px;
    padding-right: 140px;
  }
}

.gender__form--input {
  background-color: #fff;
  border: 1px solid var(--second-white-color);
  box-sizing: border-box;
  margin-right: 11px;

  @media screen and (min-width: 1200px) {
    width: 17px;
    height: 17px;
    margin-right: 20px;
  }
}

.gender__form--inputContainer {
  display: flex;
  align-items: center;
  
  &:not(:last-child) {
    margin-right: 60px;
    
    @media screen and (min-width: 1200px) {
      margin-right: 100px;
    }
  }
}
