.question__form {
  background-color: var(--first-white-color);
  width: 289px;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 0px 13px 1px rgba(34, 60, 80, 0.22);
    -moz-box-shadow: 0px 0px 13px 1px rgba(34, 60, 80, 0.22);
    box-shadow: 0px 0px 13px 1px rgba(34, 60, 80, 0.22);

  @media screen and (min-width: 375px) {
    width: 329px;
  }

  @media screen and (min-width: 1200px) {
    width: 623px;
  }

  &--container {
    padding-top: 37px;
    padding-bottom: 45px;
    padding-left: 30px;

    @media screen and (min-width: 375px) {
      padding-top: 45px;
      padding-left: 37px;
      padding-bottom: 45px;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 40px;
      padding-left: 40px;
      padding-bottom: 40px;
    }
  }

  &--input {
    margin-right: 11px;

    @media screen and (min-width: 1200px) {
      width: 17px;
      height: 17px;
      margin-right: 11px;
    }
  }

  &--inputContainer {
    align-items: center;
    display: flex;
  }

  &--inputContainer:not(:last-child) {
    margin-bottom: 30px;
  }

  &--title {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    background-color: #4872dc;
    padding: 16px 21px 12px 21px;

    @media screen and (min-width: 1200px) {
      font-size: 18px;
      padding: 30px 21px;
    }
  }

  &--buttonContainer {
    display: flex;
    justify-content: center;
  }

  &--buttonLink {
    width: 150px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    background: var(--orange-color);
    border: 1px solid var(--orange-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 81px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    transition-property: background-color;
    transition-duration: 750ms;

    display: none;

    @media screen and (min-width: 1200px) {
      width: 186px;
      margin-top: 20px;
      padding-top: 11px;
      padding-bottom: 11px;
    }

    &:hover,
    &:focus {
      background: #4872dc;
      border: 1px solid #4872dc;
      box-sizing: border-box;
      box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.35);
    }
  }
}

.btn-enabled {
  display: block;
}
