:root {
    --orange-color: #e6804d;
    --dark-color: #343B4D;
    --first-white-color: #F3F4F8;
    --second-white-color: #D6D6D6;
    --black-color: #222323;
    --dataProcessLine-color: #23910d;
    --red-color: #B53E42;
    --main-font: 'Cairo', sans-serif;
    --second-font: 'Kanit', sans-serif;
}